[submodule "zsh_custom/plugins/zsh-autocomplete"]
	path = zsh_custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
